.account .profile i {
  top: -30px;
  left: 20px;
}

/* start education */
.education {
  margin-top: 40px;
}
.education .container {
  width: 80%;
}

@media (max-width: 767px) {
  .education .container {
    width: 100%;
    /* zoom: 0.45; */
  }
}
.education table {
  padding: 10px;
}
.education table td {
  padding: 20px;
}
/* End education */
