.srv-upper-part {
  margin-top: 150px;
  margin-bottom: 80px;
}

.part-middel {
  margin: 100px 0;
}
.part-middel .cards .box:hover {
  border: 2px solid var(--mai-color);
}

@media (max-width: 767px) {
  .part-middel .cards .box.col {
    width: 100%;
  }
}
